name: Notify Codecov

on:
  workflow_run:
    workflows:
      - "ContribGraphRagTests"
      - "Contrib tests with LLMs"
      - "Contrib tests without LLMs"
      - "Core tests with LLMs"
      - "Core tests without LLMs"
      - "Integration tests"
      - "Test with optional dependencies"
    types:
      - completed

jobs:
  notify:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Send Codecov notification
        uses: codecov/codecov-action@v3
        with:
          run_command: send-notifications
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
